.sec_body_1 {
    width: 100vw;
    display: flex;
    justify-content: center;
    background: $Neutral_Light_Grayish_Blue;
    h2 {
        font-size: 1.5em;
        font-weight: 400;
        color: $Primary_Dark_Blue;
    }
    p {
        margin-top: 20px;
        line-height: 1.8;
        color: $Neutral_Grayish_Blue;
    }
    img {
        margin-bottom: 30px;
    }
}

.body_1_container {
    padding: 100px 0;
    @include repWidth;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    & section {
        grid-column: 1 / -1;
        max-width: 65ch;
        margin-bottom: 30px;
        h2 {
            font-size: 2.5em;
        }
        p {
            font-size: 1.125em;
        }
    }
}

.sec_body_2 {
    width: 100vw;
    display: flex;
    justify-content: center;
    background: $Neutral_Very_Light_Gray;
}

.body_2_container {
    width: 100%; height: max-content;
    padding: 100px 0;
    @include repWidth;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    > h2 {
        grid-column: 1 / -1;
        font-size: 2.5em;
        color: $Primary_Dark_Blue;
        font-weight: 400;
        margin-bottom: 35px;
    }
}


.card__container {
    background: $Neutral_White;
    *:not(img) {
        padding: 0 25px;
    }
    &__image {
        display: block;
        object-fit: cover;
        object-position: center;
        width: 100%; height: 200px;
    }
    &__author {
        margin-top: 35px;
        font-size: 0.7em;
        color: $Neutral_Grayish_Blue;
    }
    &__title {
        font-size: 1em;
        font-weight: 400;
        color: $Primary_Dark_Blue;
        margin: 10px 0;
    }
    &__text {
        font-size: 0.8em;
        color: $Neutral_Grayish_Blue;
        margin-bottom: 30px;
        line-height: 1.5;
    }
}

@media screen and (max-width: 1024px){
    .body_1_container {
        grid-template-columns: repeat(2, 1fr);
    }
    .body_2_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px){
    .body_1_container {
        grid-template-columns: repeat(1, 1fr);
        & > * {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h2 {
            text-align: center;
        }
        p {
            text-align: center;
        }
    }
    .body_2_container {
        grid-template-columns: repeat(1, 1fr);
        & > h2 {
            text-align: center;
        }
    }
}



